{% extends "layout.html" %}

{% block body %}

    {% if story.prev %}
        <a class="btn btn-outline-dark m-2" id="prev" role="button" href="{{ url_for('story.build_storyline', story_id = story.prev.story_id)}}">Prev</a>
    {% else %}
        <a class="btn btn-outline-dark m-2" id="prev" role="button" href="{{ url_for('story.update_story', story_id = head_id)}}">Prev</a>
    {% endif %}
    <form method="post" class="d-flex justify-content-center">
        {{ form_story.hidden_tag() }}
        <fieldset class="mb-3 textbox">
            <legend class = "border-bottom mt-4 mb-4 text-center"> Build Story </legend>
            <div class="mb-3">
                {{ form_story.story.label(class="form-label") }}
                {% if form_story.story.errors %}
                    {{ form_story.story(rows=5,class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form_story.story.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form_story.story(rows=5,class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-3 d-flex flex-row">
                {% for choice in form_story.is_last %}
                    <div class="form-check mx-2">
                        {{choice(class="form-check-input", onclick="handleRadioButtonClick(this)")}}
                        {{ choice.label(class="form-check-label")}}
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form_story.submit(class="btn btn-secondary") }}
                <a class = "btn btn-outline-dark mx-3" href="{{ url_for('story.storyline', story_id = story.id ) }}"> View </a>
            </div>
        </fieldset>
    </form>
    {% if form_story.is_last.data != 'none'%} 
        <div id="formOptionSection" style="display: none;">
    {% else %}
        <div id="formOptionSection">
    {% endif %}
    <div class="row row-cols-1 row-cols-md-2 my-5 justify-content-center">
        {% for form_old_option in form_old_options %}
            <div class="col">
                <form method="post" class="d-flex justify-content-center">
                    {{ form_old_option.hidden_tag() }}
                    <fieldset class="mb-5 w-75">
                        <div class="mb-3">
                            {{ form_old_option.option.label(class="form-label") }}
                            {% if form_old_option.option.errors %}
                                {{ form_old_option.option(rows=3, class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_old_option.option.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_old_option.option(rows=3, class="form-control form-control-lg ") }}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form_old_option.submit(class="btn btn-secondary") }}
                            <a class="btn btn-outline-info mx-3" href="{{ url_for('story.build_storyline', story_id = options[loop.index0].next[0].id)}}">Next</a>
                            <button class="btn btn-outline-danger" type = "submit" formaction="{{ url_for('story.delete_option', option_id = options[loop.index0].id) }}"> Delete</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        {% endfor %}
        </div>
        <form method="post" class="d-flex justify-content-center">
            {{ form_option.hidden_tag() }}
            <fieldset class="mb-4">
                <div class="mb-3">
                    {{ form_option.option.label(class="form-label") }}
                    {% if form_option.option.errors %}
                        {{ form_option.option(rows=3, class="form-control form-control-lg w-auto is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_option.option.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form_option.option(rows=3, class="form-control form-control-lg w-auto") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form_option.submit(class="btn btn-success") }}
                </div>
            </fieldset>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}