{% extends "layout.html" %}

{% block body %}

<div class="container d-flex justify-content-center p-0">
    <div class="card my-5 shadow-lg text-white bg-dark">
        <div class="card-header d-flex justify-content-between">
            {% if story.prev %}
                <a class="mx-md-3" href="{{ url_for('story.storyline', story_id = story.prev.story_id)}}">
                    <h1> &#x2190;  </h1>
                </a>
            {% else %}
                <a class="mx-md-3" href="{{ url_for('story.view_story', story_id = head_id)}}">
                   <h1> &#x2190;   </h1>
                </a>
            {% endif %}
            
            <a class="mx-md-3" href="{{ url_for('story.build_storyline', story_id=story.id) }}">
               <h1>  &#x270E;  </h1>
            </a>            
        </div>
        <div class="card-body text-center">
            <h2 class="card-title m-md-5"> {{ story.story }}</h2>
            <hr>
            {% if story.is_win %}
                <h2 class="card-text m-5 text-success"> 
                    Congratulations! You won the game!
                </h2>
                <a class="btn btn-outline-light mt-4 mb-5" href="{{url_for('story.stories')}}">
                    <h5 class="card-text p-2"> 
                        Try another
                    </h5>
                </a>
            {% elif story.is_lose %}
                <h2 class="card-text m-5 text-danger"> 
                    Too bad... you lost!
                </h2>
                <a class="btn btn-outline-light mt-4 mb-5" href="{{url_for('story.stories')}}">
                    <h5 class="card-text p-2"> 
                        Play some more!
                    </h5>
                </a>
            {% else %}
                <div class="row row-cols-1 row-cols-md-2 g-5 my-2 justify-content-evenly">
                {% for option in options %}
                    <div class="col">
                        <a class="btn btn-outline-light" href="{{ url_for( 'story.storyline', story_id = option.next[0].id )}}">
                            <h5 class="card-text mt-4 m-md-4 p-md-2"> 
                                {{option.option}}
                            </h5>
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
  </div>
<!-- <div class="container d-flex justify-content-center">
    <div class="card my-5 shadow-lg text-white bg-dark">
        <div class="card-header d-flex justify-content-between text-center">
            {% if story.prev %}
                <a class="mx-md-3" href="{{ url_for('story.storyline', story_id = story.prev.story_id)}}">
                    <h1> &#x2190;  </h1>
                </a>
            {% else %}
                <a class="mx-md-3" href="{{ url_for('story.view_story', story_id = head_id)}}">
                    <h1> &#x2190;  </h1>
                </a>
            {% endif %}
            <h2 class="p-md-4 m-md-3 mt-5"> {{story.story}}</h2>
            <a class="mx-md-3" href="{{ url_for('story.build_storyline', story_id=story.id) }}">
               <h1> &#x270E; </h1>
            </a>    
        </div>
        <div class="card-body text-center">
            <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-evenly">
                {% for option in options %}
                    <div class="col">
                        <a class="w-75 w-md-100 p-2 p-md-3 mt-4 btn btn-outline-light" role = "button" href="{{ url_for( 'story.storyline', story_id = option.next[0].id )}}">
                            {{ option.option }} 
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </div> -->

{% endblock %}